body{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title{
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.flash.success {
    background-color: #4caf50;
    color: white;
}
.flash.error {
    background-color: #f44336;
    color: red;
}
form {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}